/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*formulario*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.title span {
  color: #808080;
}

form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.row i {
  margin-right: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  border: none;
  border-bottom: 2px solid #fcf812;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  background-color: #f5f5f5;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  border-bottom: 2px solid #808080;
}

.pass {
  text-align: right;
  margin-bottom: 20px;
}

.pass a {
  color: #808080;
  text-decoration: none;
}

.button {
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #808080;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #2d90a8;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #808080;
  text-decoration: none;
}

/* Header Styles */
header {
  background-color: #1a1a1a;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  height: auto;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.app-name-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 16px;
  color: #ffffff;
}

.page-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e10316;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  filter: grayscale(100%);
}

.nav-link:hover {
  background-color: #b80f0f;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.button-container {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  margin-left: 16px;
}

.other-text-container {
  margin-top: 20px;
  text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .logo-container,
  .app-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container button {
    margin-top: 10px;
  }
  
  
}

/*modal*/
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.custom-modal > div {
  margin-bottom: 20px;
}

.custom-modal > button {
  background-color: #2d90a8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-modal > button:hover {
  background-color: #0062cc;
}

/* Footer Styles */
footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/*stock box*/

.stock-link {
  display: block;
  background-color: #f9f9f9;  /* Light background */
  border: 1px solid #ddd;  /* Light border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Add some shadow */
  border-radius: 5px;  /* Round corners */
  color: #333;  /* Dark text */
  font-size: 16px;  /* Bigger text */
  margin: 10px;  /* Add some margin */
  padding: 20px;  /* More padding */
  text-decoration: none;  /* Remove underline */
}

.stock-link:hover {
  background-color: #f0f0f0;  /* Slightly darker background on hover */
}

.stock-box a {
  text-decoration: none;  /* Remove underline from links */
  color: inherit;  /* Make links the same color as the text */
}
.value {
  color: blue;
}
/* Add this to your CSS file */

.buy-button {
  background-color: #808080;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #6c868c;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* perfil*/
/* perfil */
.center-text {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.white-text {
  color: white;
}

.user-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.logout-button {
  background-color: #008CBA; /* Blue */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.rounded-box {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}
body#hey {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.center-text {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.white-text {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

.rounded-box {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  width: 80%;
  max-width: 500px;
}

.user-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 10px;
}

